img{
    width: 300px    ;
}
.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:Roboto ;

}



.nav{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
}
.nav ul{
    display: flex;
    gap: 16px;
}
.nav li{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-weight: 300;
}


.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
    color: white;
    padding: 100px;
}
.main-section h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.main-section p{
    font-size: 18px;
    color: #e5e7eb;
}

.main-div{
    max-width:450px;
}
.main-section img{
    max-width: 450px;
    max-height: 250px;
    width: 450px;
    height: 250px;
}


.random-info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    margin-bottom:10px ;
}
.random-info-section h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.card-holder{
    display: flex;
    align-items: center;
    gap: 25px;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
    width: 150px;
}
.card-info img{   
    max-width: 150px;
    width: 150px;
    border-radius:15px ;
}



.quote-section{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-holder{
    display: flex;
    flex-direction: column;
    max-width: 780px;
    gap: 5px;
    padding: 40px;
}
.quote-content{
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
    color: #1F2937;
    margin-bottom: 0;
}
.quote-author{
    text-align: end;
    font-weight: bold;
}


.sign-up-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color:white ;

}
.sign-up-popup{
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    border-radius: 5px;   
    padding: 40px;
    max-width: 900px;
    width: 900px;
}

.sign-up-message h4{
    margin: 0;
    padding: 0%;
}
.sign-up-button{
    padding: 5px;
    background-color: #3882f6;
    max-width: 100px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
}
.pop{
    border: 2px solid ;
}

.footer{
    display: flex;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    padding: 25px;
}